.team-container {
    margin: 2%;
}

.col-mid {
    margin-left: -30%;
    margin-right: -30%;
}

.col-bot-left {
    margin-right: -25%;
}

.col-bot-right {
    margin-left: -25%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    color: white;
}
